@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    ;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: rgb(30, 30, 30);
    color: #F5F5F5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

hr {
    border: none;
    height: 1px;
    background-color: #4CAF50;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 21px;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

nav a:hover {
    color: rgb(187, 255, 0);
}

.hamb {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #4CAF50;
    border: none;
    background: none;
    padding: 5px 10px;
}

.hamb:hover {
    color: rgb(187, 255, 0);
}

.navL ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-left: 30px;
}

section {
    padding: 20px;

}


#home {
    text-align: center;
}

#about_img {
    border-radius: 50%;
    width: 300px;
    height: auto;

}

.about_me {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 20px;
}

h1,
h2,
h3,
h4 {
    color: #4CAF50
}

.contact-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-form {
    flex: 1;
}

.map-container {
    flex: 1;
    min-height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 10px;
}



label {
    font-size: large;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    ;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #8ca045;
}

footer {
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #4CAF50;
}

footer a:hover {
    color: rgb(187, 255, 0);
}

/*For the phone*/
@media(max-width: 768px) {
    .hamb {
        display: block;
    }

    .navL {
        width: 100%;
    }

    .navL ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        gap: 10px;
        text-align: center;
    }

    .navL.active ul {
        display: flex;
    }

    .navL ul li {
        width: 100%;
    }

    .about_me {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .navL ul li a {
        display: block;
        padding: 12px;
        font-size: 18px;
    }

    #about_img {
        width: 200px;
        height: auto;
    }

    .contact-layout {
        flex-direction: column;
    }
}